#magic {

    position: absolute;
    width: 100%;
    height: 100vh;
    display: block;
    top: 0;
    left: 0;
    z-index: -9999;
    opacity: 0;
    animation: 5s glitch ease-in-out infinite alternate-reverse;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    
  }
.container {
    display: grid;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-25%, -50%);
  }
  
  .more,
  .info {
    height: 100vh;
  }
  
  .more {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  .more--cyberpunk-bg {
    background-image: url(https://www.dropbox.com/s/54yom6e97clqoxh/2019-02-05-image-12.jpg?raw=1);
    background-position: center center;
    background-attachment: initial;
    background-size: cover;
  }
  .more__title {
    color: #00f0ff;
    text-transform: uppercase;
  }
  
  .info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: absolute;
    transform: translate(-50%, 10%);
  }
  .info__title {
    color: #fff;
    font-size: 2.5rem;
    text-transform: uppercase;
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
    position: relative;
  }
  .info__title::before {
    content: "";
    width: 20%;
    height: 0;
    border-width: 8px 8px 0 8px;
    border-style: solid;
    border-color: #fff transparent #fff #fff;
    position: absolute;
    bottom: -8px;
    left: 0;
  }
  
  .btn-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* this aplies only if we have 3 buttons */
  }
  .btn-group .btn:nth-child(even) {
    border-left: 0;
    border-right: 0;
  }
  .btn-group .btn:first-child::before {
    content: "";
    width: 24px;
    height: 24px;
    border-top: 2px solid #fff;
    position: absolute;
    bottom: -14px;
    left: -13px;
    background: #1e1e1f;
    transform: rotate(45deg);
  }
  .btn-group .btn:last-child::after {
    content: "";
    width: 24px;
    height: 24px;
    border-bottom: 2px solid #fff;
    position: absolute;
    top: -14px;
    right: -13px;
    background: #1e1e1f;
    transform: rotate(45deg);
  }
  .btn-group--disabled .btn {
    border-color: rgba(0, 0, 0, 0.5);
    opacity: 0.5;
  }
  .btn-group--disabled .btn:first-child::before, .btn-group--disabled .btn:last-child::after {
    border-color: rgba(255, 255, 255, 0.5);
  }
  .btn-group .btn:nth-child(1) {
    opacity: 0;
    animation: 1s glitch-fade-in ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 2s;
  }
  .btn-group .btn:nth-child(2) {
    opacity: 0;
    animation: 1.2s glitch-fade-in ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 2s;
  }
  .btn-group .btn:nth-child(3) {
    opacity: 0;
    animation: 1.4s glitch-fade-in ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 2s;
  }
  .cursor{
    width: 2rem;
    height: 2rem;
    border: 2px solid rgba(245, 245, 245, 0.6);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition-property: transform;
    transform-origin: 100% 100%;
    z-index: 1000000000000000000000000000000;
    opacity: 0;
}
.custom {
    opacity: 1 !important;
}
.open_settings {
  position: absolute; 
  left: 0; 
  bottom: 0; 
  padding: 11px; 
  color: white; 
  background-color: rgba(146, 146, 146, 0.579);
  border-radius: 11px;
}
.settings {
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 15px;
  border-radius: 10px;
  left: 15px;
  z-index: 10000000;
  padding: 20px;
}
.cursor_set {
  z-index: 1111111111111111; position: absolute;
  width: 100%;
  height: 40px !important;
  
}
.cursor_set.btn:first-child::before {
  content: "";
  width: 24px;
  height: 24px;
  border-top: 2px solid #fff;
  position: absolute;
  bottom: -14px;
  left: -13px;
  background: #383838;
  transform: rotate(45deg);
}
.cursor_set.btn:last-child::after {
  content: "";
  width: 24px;
  height: 24px;
  border-bottom: 2px solid #fff;
  position: absolute;
  top: -14px;
  right: -13px;
  background: #383838;
  transform: rotate(45deg);
}
.settings.active {
  background-color: rgba(154, 154, 154, 0.2);
  width: 200px;
  height: 200px;
}
.settings-content {
  display: none;
  opacity: 0;
}
.settings-content.show {
  display: block !important;
  opacity: 1 !important;
}
.active {
    background-color: #000;
}
.cursor_set {
  position: absolute;
  top: 0;
  left: 0;
}
.spotlight {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -100000;
    background-image: radial-gradient(
    circle,
    transparent 10px,
    rgb(255, 255, 255) 100px
    );
}

  .btn {
    display: flex;
    box-align: center;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    background: transparent;
    color: #fff;
    height: 60px;
    outline: none;
    cursor: pointer;
    padding: 1px 6px;
    position: relative;
    transition: 0.2s ease;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .btn:hover {
    background-color: #fff;
    color: #000;
  }
  .btn--secondary {
    color: #ffffff;
    border: none;
    border-right: 2px solid #00f0ff;
    background-color: #ff003c;
  }
  .btn--secondary::before {
    border-top: 2px solid #ff003c;
    bottom: -12px;
    left: -12px;
  }
  .btn--xbox {
    width: 200px;
    background-size: 75% auto;
  }
  .btn--ps4 {
    width: 200px;
    background-size: 75% auto;
  }
  .btn--pc {
    width: 200px;
    background-size: 25% auto;
  }
  .btn[disabled] {
    border-color: rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
  }
  .btn__label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: Tomorrow, sans-serif;
    font-size: 7px;
    text-transform: uppercase;
    position: absolute;
    bottom: -5px;
    right: 10px;
    padding: 0 4px;
    background: #fff;
  }
  .btn__content {
    font-family: Tomorrow, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
  }

  @media (min-width: 20rem) {
    .container {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);
    }
  
    .info__title {
      font-size: 1.5rem;
      margin-bottom: 50px;
    }
  
    .btn {
      height: 45px;
    }
    .btn--xbox, .btn--ps4, .btn--pc {
      width: 100px;
    }
  }
  @media (min-width: 42.5rem) {
    .btn {
      height: 50px;
    }
    .btn--xbox, .btn--ps4, .btn--pc {
      width: 150px;
    }
  }
  @media (min-width: 80rem) {
    .container {
      grid-template-columns: repeat(2, 50%);
      grid-template-rows: auto;
    }
  
    .btn {
      height: 80px;
    }
    .btn--xbox, .btn--ps4, .btn--pc {
      width: 200px;
    }
  }
  .card-list {
    position: relative;
    left: 5%;
  }
  .about {
    margin: 5em 5vw;
  }
  
  .card {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 20px 50px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #fff;
    overflow: hidden;
    padding: 1.25rem;
    position: relative;
    transition: 0.15s ease-in-out;
    transform: skew(-10deg);
    width: 275px;
    float: left;
    margin: 0 2em;
  }
  .card img {
    width: 100%;
  }
  .card:hover, .card:focus-within {
    background-color: #fff;
  }
  .card:hover .card-header a {
    color: #000;
  }
  
  .card-image {
    border-radius: 10px;
    overflow: hidden;
  }
  
  .card-header {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .card-header a {
    font-weight: 600;
    font-size: 1.375rem;
    line-height: 1.25;
    padding-right: 1rem;
    text-decoration: none;
    color: #fff;
    will-change: transform;
  }
  .card-header a:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
  
  .icon-button {
    border: 0;
    background-color: #fff;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    font-size: 1.25rem;
    transition: 0.25s ease;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
    z-index: 1;
    cursor: pointer;
    color: #565656;
  }
  .icon-button svg {
    width: 1em;
    height: 1em;
  }
  .icon-button:hover, .icon-button:focus {
    background-color: #EC4646;
    color: #FFF;
  }
  
  .card-footer {
    margin-top: 1.25rem;
    border-top: 1px solid #ddd;
    padding-top: 1.25rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .card-meta {
    display: flex;
    align-items: center;
    color: #787878;
  }
  .card-meta:first-child:after {
    display: block;
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: currentcolor;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
  .card-meta svg {
    flex-shrink: 0;
    width: 1em;
    height: 1em;
    margin-right: 0.25em;
  }
  .card-content {
    transform: skew(10deg);

  }

  
  .cards_section .hidden {
    opacity: 0;
    transform: translatey(80px);
  }
  
  .cards_section .unfocused {
    /*filter: blur(4px);*/
    opacity: 0.25;
  }
  
  .cards_section #intro {
    padding: 48px;
    /*background-color:rgba(0,255,0,0.1);*/
  }
  
  .cards_section #weilWir {
    animation: textDarkening infinite 3s ease-in-out;
  }
  
  .cards_section #lieben {
    /*background-color:red;*/
    animation-name: bounce;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    margin-top: 0 !important;
    display: inline-block;
  }
  
  .cards_section #merchant1 {
    /*background-color:rgba(255,0,0,0.1);*/
  }
  
  .cards_section .introText {
    width: 66vw;
  }
  
  .cards_section h1 {
    font-size: 20vmin;
    letter-spacing: -0.07em;
    line-height: 0.8;
    font-weight: 400;
  }
  
  .cards_section *::selection {
    background: rgba(0, 0, 0, 1);
    color: white;
  }
  
  .cards_section :is(#intro) h1 {
    margin-top: 20vh;
  }
  
  .cards_section h2 {
    font-size: 6vmin;
    letter-spacing: -0.05em;
    line-height: 0.9;
    padding-bottom: 24px;
    margin-bottom: 24px;
  }
  
  .cards_section #intro h2 {
    margin-bottom: 30vh;
  }
  
  .cards_section h3 {
    font-size: 4vmin;
    letter-spacing: -0.03em;
    line-height: 0.9;
    padding-bottom: 24px;
    margin-bottom: 24px;
  }
  
  .cards_section :is(.text) h2,
  .cards_section h3 {
    border-bottom: 1px solid var(--strokeColor);
  }
  
  .cards_section #intro .subHeadline {
    width: 66%;
    margin: 144px 0;
  }
  .cards_section .subHeadline {
    font-size: 2vmin;
    line-height: 1.3;
    margin: 4vh 0;
    letter-spacing: -0.02em;
  }
  
  .cards_section p {
    font-size: 2vmin;
  }
  
  .cards_section .introImage {
    position: absolute;
    right: 10vw;
    top: 50vh;
    width: 50vmin;
    z-index: -1;
    aspect-ratio: 1/1.15;
    background-color: teal;
    background-image: url("https://iili.io/HUIi2f9.md.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .cards_section .merchant {
    display: flex;
    position: relative;
  }
  
  .cards_section .section {
    width: 50vw;
    height: 100%;
  }
  
  .cards_section .image {
    height: 100vh;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2vmin solid var(--backColor);
    border-radius: 3vmin;
  }
  
  .cards_section .one .image {
    background-image: url("https://iili.io/HUelxiG.jpg");
    background-size: 150%;
    background-position: bottom;
  }
  
  .cards_section .two .image {
    background-image: url("https://iili.io/HUeIQ8g.jpg");
  }
  
  .cards_section .three .image {
    background-image: url("https://iili.io/HUezP7s.jpg");
  }
  
  .cards_section .text {
    padding: 6vmin;
    position: sticky;
    top: 0;
  }
  
  .cards_section .location {
    font-size: 2vmin;
    font-weight: 700;
    background-color: white;
    /*text-transform:uppercase;*/
    /*background-color:rgba(0,0,0,0.5);*/
    display: inline-block;
    padding: 8px 16px;
    border-radius: 8px;
    color: black;
    border: 1px solid black;
    width: 100%;
    transition: all 0.25s ease;
  }
  
  /*.location:hover {
    width: 100%;
    padding: 32px 16px;
  }*/
  
  .cards_section .button {
    padding: 12px 24px;
    border-radius: 24px;
    border: none;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    display: inline-block;
  }
  
  .cards_section .primary {
    background-color: var(--foreColor);
    color: var(--backColor);
  }
  
  .cards_section .purple {
    background-color: #5b27f5;
    color: white;
    /*box-shadow:0 0 48px var(--backColor);*/
    margin-top:24px;
  }
  
  .cards_section #pay {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .cards_section #pay h2 {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  
  .cards_section .gradient {
    background: -webkit-linear-gradient(
      0deg,
      #61f2ff,
      #9994de,
      #ff8ef2,
      #5b27f5,
      #61f2ff
    );
    padding: 0rem !important;
    color: white;
    border-radius: 1vw;
    margin: 1vh 0 2vh !important;
    transition: padding 0.5s ease-in-out, background-size 1s ease-in-out, opacity 1s ease-in-out;
    background-size: 400%;
    background-position: center;
    animation: gradient 10s infinite linear;
    opacity:0;
  }
  
  .cards_section .expanded {
    padding: 1rem !important;
    background-size: 200%;
    opacity:1;
  }
  
  .cards_section #pay img {
    max-width: 30vmin;
    position: fixed;
    z-index:-1;
    animation: payImage 100s infinite linear;
    transition:scale 0.35s ease-in-out;
  }
  
  .cards_section #pay img:nth-child(2) {
    animation-direction:reverse;
  }
  
  .cards_section #pay img:hover {
    scale:1.1;
  }
  
  .cards_section #phone {
    width: 30vmin;
    bottom: 3vmin;
    rotate: -10deg;
    animation:none !important;
  }
  
  .cards_section #coinTeal1 {
    width: 11vmin;
    rotate: -51deg;
    right: 17vw;
    top: 30vh;
  }
  .cards_section #coinTeal2 {
      width: 15vmin;
      rotate: -1deg;
      left: 19vw;
      bottom: 18vh;
  }
  }
  
  .cards_section #star1 {
    left: 10vw;
    width: 3vmin;
  }
  
  .cards_section #coinPurple1 {
    width: 16vmin;
    rotate: -64deg;
    right: 5vw;
    bottom: 30vh;
  }
  
  .cards_section #coinPurple2 {
    width: 19vmin;
      rotate: 6deg;
      left: 8vw;
      top: 26vh;
  }
  
  .cards_section .voucher {
    background-color: black;
      padding: 0px 6px;
      border-radius: 4px;
      font-weight: 700;
      color: white;
      cursor: pointer;
  }
  
  
  /*-------------------- MOBILE --------------------------*/
  
  @media only screen and (max-width: 680px){
    .cards_section h1 {
    font-size: 20vmin;
    letter-spacing: -0.07em;
    line-height: 0.8;
    font-weight: 400;
    }
  
    .cards_section h2 {
      font-size:9vmin;    
    }
  
    .cards_section h3 {
      font-size:6vmin;
    }
    
    .cards_section :is(#intro) h1 {
    margin-top: 10vh;
    }
    
    .cards_section .introImage {
      right:6vw;
    }
    
    .cards_section .subHeadline {
          font-size:4vmin;
    }
    
    .cards_section .location {
      font-size:4vmin;
    }
    
    .cards_section #intro .subHeadline {
          width: 80%;
      margin: 144px 0;
    }
    
    .cards_section .merchant {
      flex-direction:column;
    }
    
    .cards_section .two {
      flex-direction:column-reverse;
    }
    
    .cards_section .section {
      width:100%;   
    }
    
    .cards_section .image {
      height:50vh;
    }
    #magic {

      position: absolute;
      width: 100%;
      height: 100vh;
      display: block;
      top: 0;
      left: 0;
      z-index: -9999;
      opacity: 0;
      animation: 5s glitch ease-in-out infinite alternate-reverse;
      animation-fill-mode: forwards;
      animation-delay: 2s;
      
    }
  .container {
      display: grid;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-25%, -50%);
    }
    
    .more,
    .info {
      height: 100vh;
    }
    
    .more {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
    }
    .more--cyberpunk-bg {
      background-image: url(https://www.dropbox.com/s/54yom6e97clqoxh/2019-02-05-image-12.jpg?raw=1);
      background-position: center center;
      background-attachment: initial;
      background-size: cover;
    }
    .more__title {
      color: #00f0ff;
      text-transform: uppercase;
    }
    
    .info {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      position: absolute;
      transform: translate(-50%, 10%);
    }
    .info__title {
      color: #fff;
      font-size: 2.5rem;
      text-transform: uppercase;
      border-bottom: 2px solid #fff;
      padding-bottom: 10px;
      position: relative;
    }
    .info__title::before {
      content: "";
      width: 20%;
      height: 0;
      border-width: 8px 8px 0 8px;
      border-style: solid;
      border-color: #fff transparent #fff #fff;
      position: absolute;
      bottom: -8px;
      left: 0;
    }
    
    .btn-group {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      /* this aplies only if we have 3 buttons */
    }
    .btn-group .btn:nth-child(even) {
      border-left: 0;
      border-right: 0;
    }
    .btn-group .btn:first-child::before {
      content: "";
      width: 24px;
      height: 24px;
      border-top: 2px solid #fff;
      position: absolute;
      bottom: -14px;
      left: -13px;
      background: #1e1e1f;
      transform: rotate(45deg);
    }
    .btn-group .btn:last-child::after {
      content: "";
      width: 24px;
      height: 24px;
      border-bottom: 2px solid #fff;
      position: absolute;
      top: -14px;
      right: -13px;
      background: #1e1e1f;
      transform: rotate(45deg);
    }
    .btn-group--disabled .btn {
      border-color: rgba(0, 0, 0, 0.5);
      opacity: 0.5;
    }
    .btn-group--disabled .btn:first-child::before, .btn-group--disabled .btn:last-child::after {
      border-color: rgba(255, 255, 255, 0.5);
    }
    .btn-group .btn:nth-child(1) {
      opacity: 0;
      animation: 1s glitch-fade-in ease-in-out;
      animation-fill-mode: forwards;
      animation-delay: 2s;
    }
    .btn-group .btn:nth-child(2) {
      opacity: 0;
      animation: 1.2s glitch-fade-in ease-in-out;
      animation-fill-mode: forwards;
      animation-delay: 2s;
    }
    .btn-group .btn:nth-child(3) {
      opacity: 0;
      animation: 1.4s glitch-fade-in ease-in-out;
      animation-fill-mode: forwards;
      animation-delay: 2s;
    }
    .cursor{
      width: 2rem;
      height: 2rem;
      border: 2px solid rgba(245, 245, 245, 0.6);
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      pointer-events: none;
      transition-property: transform;
      transform-origin: 100% 100%;
      z-index: 1000000000000000000000000000000;
      opacity: 0;
  }
  .custom {
      opacity: 1 !important;
  }
  .open_settings {
    position: absolute; 
    left: 0; 
    bottom: 0; 
    padding: 11px; 
    color: white; 
    background-color: rgba(146, 146, 146, 0.579);
    border-radius: 11px;
  }
  .settings {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 15px;
    border-radius: 10px;
    left: 15px;
    z-index: 10000000;
    padding: 20px;
  }
  .cursor_set {
    z-index: 1111111111111111; position: absolute;
    width: 100%;
    height: 40px !important;
    
  }
  .cursor_set.btn:first-child::before {
    content: "";
    width: 24px;
    height: 24px;
    border-top: 2px solid #fff;
    position: absolute;
    bottom: -14px;
    left: -13px;
    background: #383838;
    transform: rotate(45deg);
  }
  .cursor_set.btn:last-child::after {
    content: "";
    width: 24px;
    height: 24px;
    border-bottom: 2px solid #fff;
    position: absolute;
    top: -14px;
    right: -13px;
    background: #383838;
    transform: rotate(45deg);
  }
  .settings.active {
    background-color: rgba(154, 154, 154, 0.2);
    width: 200px;
    height: 200px;
  }
  .settings-content {
    display: none;
    opacity: 0;
  }
  .settings-content.show {
    display: block !important;
    opacity: 1 !important;
  }
  .active {
      background-color: #000;
  }
  .cursor_set {
    position: absolute;
    top: 0;
    left: 0;
  }
  .spotlight {
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: -100000;
      background-image: radial-gradient(
      circle,
      transparent 10px,
      rgb(255, 255, 255) 100px
      );
  }
  
    .btn {
      display: flex;
      box-align: center;
      align-items: center;
      justify-content: center;
      flex-flow: row wrap;
      border-top: 2px solid #fff;
      border-bottom: 2px solid #fff;
      border-left: 2px solid #fff;
      border-right: 2px solid #fff;
      background: transparent;
      color: #fff;
      height: 60px;
      outline: none;
      cursor: pointer;
      padding: 1px 6px;
      position: relative;
      transition: 0.2s ease;
      background-repeat: no-repeat;
      background-position: center center;
    }
    .btn:hover {
      background-color: #fff;
      color: #000;
    }
    .btn--secondary {
      color: #ffffff;
      border: none;
      border-right: 2px solid #00f0ff;
      background-color: #ff003c;
    }
    .btn--secondary::before {
      border-top: 2px solid #ff003c;
      bottom: -12px;
      left: -12px;
    }
    .btn--xbox {
      width: 200px;
      background-size: 75% auto;
    }
    .btn--ps4 {
      width: 200px;
      background-size: 75% auto;
    }
    .btn--pc {
      width: 200px;
      background-size: 25% auto;
    }
    .btn[disabled] {
      border-color: rgba(0, 0, 0, 0.5);
      color: rgba(0, 0, 0, 0.5);
      pointer-events: none;
    }
    .btn__label {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-family: Tomorrow, sans-serif;
      font-size: 7px;
      text-transform: uppercase;
      position: absolute;
      bottom: -5px;
      right: 10px;
      padding: 0 4px;
      background: #fff;
    }
    .btn__content {
      font-family: Tomorrow, sans-serif;
      text-transform: uppercase;
      font-weight: 700;
    }
  
    @media (min-width: 20rem) {
      .container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
      }
    
      .info__title {
        font-size: 1.5rem;
        margin-bottom: 50px;
      }
    
      .btn {
        height: 45px;
      }
      .btn--xbox, .btn--ps4, .btn--pc {
        width: 100px;
      }
    }
    @media (min-width: 42.5rem) {
      .btn {
        height: 50px;
      }
      .btn--xbox, .btn--ps4, .btn--pc {
        width: 150px;
      }
    }
    @media (min-width: 80rem) {
      .container {
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: auto;
      }
    
      .btn {
        height: 80px;
      }
      .btn--xbox, .btn--ps4, .btn--pc {
        width: 200px;
      }
    }
    .card-list {
      position: relative;
      left: 5%;
    }
    .about {
      margin: 5em 5vw;
    }
    
    .card {
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 20px 50px 0 rgba(0, 0, 0, 0.1);
      border: 1px solid #fff;
      overflow: hidden;
      padding: 1.25rem;
      position: relative;
      transition: 0.15s ease-in-out;
      transform: skew(-10deg);
      width: 275px;
      float: left;
      margin: 0 2em;
    }
    .card img {
      width: 100%;
    }
    .card:hover, .card:focus-within {
      background-color: #fff;
    }
    .card:hover .card-header a {
      color: #000;
    }
    
    .card-image {
      border-radius: 10px;
      overflow: hidden;
    }
    
    .card-header {
      margin-top: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .card-header a {
      font-weight: 600;
      font-size: 1.375rem;
      line-height: 1.25;
      padding-right: 1rem;
      text-decoration: none;
      color: #fff;
      will-change: transform;
    }
    .card-header a:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }
    
    .icon-button {
      border: 0;
      background-color: #fff;
      border-radius: 50%;
      width: 2.5rem;
      height: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      font-size: 1.25rem;
      transition: 0.25s ease;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
      z-index: 1;
      cursor: pointer;
      color: #565656;
    }
    .icon-button svg {
      width: 1em;
      height: 1em;
    }
    .icon-button:hover, .icon-button:focus {
      background-color: #EC4646;
      color: #FFF;
    }
    
    .card-footer {
      margin-top: 1.25rem;
      border-top: 1px solid #ddd;
      padding-top: 1.25rem;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
    
    .card-meta {
      display: flex;
      align-items: center;
      color: #787878;
    }
    .card-meta:first-child:after {
      display: block;
      content: "";
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: currentcolor;
      margin-left: 0.75rem;
      margin-right: 0.75rem;
    }
    .card-meta svg {
      flex-shrink: 0;
      width: 1em;
      height: 1em;
      margin-right: 0.25em;
    }
    .card-content {
      transform: skew(10deg);
  
    }
  
    
    .cards_section .hidden {
      opacity: 0;
      transform: translatey(80px);
    }
    
    .cards_section .unfocused {
      /*filter: blur(4px);*/
      opacity: 0.25;
    }
    
    .cards_section #intro {
      padding: 48px;
      /*background-color:rgba(0,255,0,0.1);*/
    }
    
    .cards_section #weilWir {
      animation: textDarkening infinite 3s ease-in-out;
    }
    
    .cards_section #lieben {
      /*background-color:red;*/
      animation-name: bounce;
      animation-iteration-count: infinite;
      animation-duration: 3s;
      margin-top: 0 !important;
      display: inline-block;
    }
    
    .cards_section #merchant1 {
      /*background-color:rgba(255,0,0,0.1);*/
    }
    
    .cards_section .introText {
      width: 66vw;
    }
    
    .cards_section h1 {
      font-size: 20vmin;
      letter-spacing: -0.07em;
      line-height: 0.8;
      font-weight: 400;
    }
    
    .cards_section *::selection {
      background: rgba(0, 0, 0, 1);
      color: white;
    }
    
    .cards_section :is(#intro) h1 {
      margin-top: 20vh;
    }
    
    .cards_section h2 {
      font-size: 6vmin;
      letter-spacing: -0.05em;
      line-height: 0.9;
      padding-bottom: 24px;
      margin-bottom: 24px;
    }
    
    .cards_section #intro h2 {
      margin-bottom: 30vh;
    }
    
    .cards_section h3 {
      font-size: 4vmin;
      letter-spacing: -0.03em;
      line-height: 0.9;
      padding-bottom: 24px;
      margin-bottom: 24px;
    }
    
    .cards_section :is(.text) h2,
    .cards_section h3 {
      border-bottom: 1px solid var(--strokeColor);
    }
    
    .cards_section #intro .subHeadline {
      width: 66%;
      margin: 144px 0;
    }
    .cards_section .subHeadline {
      font-size: 2vmin;
      line-height: 1.3;
      margin: 4vh 0;
      letter-spacing: -0.02em;
    }
    
    .cards_section p {
      font-size: 2vmin;
    }
    
    .cards_section .introImage {
      position: absolute;
      right: 10vw;
      top: 50vh;
      width: 50vmin;
      z-index: -1;
      aspect-ratio: 1/1.15;
      background-color: teal;
      background-image: url("https://iili.io/HUIi2f9.md.jpg");
      background-size: cover;
      background-repeat: no-repeat;
    }
    
    .cards_section .merchant {
      display: flex;
      position: relative;
    }
    
    .cards_section .section {
      width: 50vw;
      height: 100%;
    }
    
    .cards_section .image {
      height: 100vh;
      top: 0;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      border: 2vmin solid var(--backColor);
      border-radius: 3vmin;
    }
    
    .cards_section .one .image {
      background-image: url("https://iili.io/HUelxiG.jpg");
      background-size: 150%;
      background-position: bottom;
    }
    
    .cards_section .two .image {
      background-image: url("https://iili.io/HUeIQ8g.jpg");
    }
    
    .cards_section .three .image {
      background-image: url("https://iili.io/HUezP7s.jpg");
    }
    
    .cards_section .text {
      padding: 6vmin;
      position: sticky;
      top: 0;
    }
    
    .cards_section .location {
      font-size: 2vmin;
      font-weight: 700;
      background-color: white;
      /*text-transform:uppercase;*/
      /*background-color:rgba(0,0,0,0.5);*/
      display: inline-block;
      padding: 8px 16px;
      border-radius: 8px;
      color: black;
      border: 1px solid black;
      width: 100%;
      transition: all 0.25s ease;
    }
    
    /*.location:hover {
      width: 100%;
      padding: 32px 16px;
    }*/
    
    .cards_section .button {
      padding: 12px 24px;
      border-radius: 24px;
      border: none;
      font-size: 16px;
      line-height: 24px;
      font-weight: 700;
      display: inline-block;
    }
    
    .cards_section .primary {
      background-color: var(--foreColor);
      color: var(--backColor);
    }
    
    .cards_section .purple {
      background-color: #5b27f5;
      color: white;
      /*box-shadow:0 0 48px var(--backColor);*/
      margin-top:24px;
    }
    
    .cards_section #pay {
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    
    .cards_section #pay h2 {
      margin-bottom: 0;
      padding-bottom: 0;
    }
    
    .cards_section .gradient {
      background: -webkit-linear-gradient(
        0deg,
        #61f2ff,
        #9994de,
        #ff8ef2,
        #5b27f5,
        #61f2ff
      );
      padding: 0rem !important;
      color: white;
      border-radius: 1vw;
      margin: 1vh 0 2vh !important;
      transition: padding 0.5s ease-in-out, background-size 1s ease-in-out, opacity 1s ease-in-out;
      background-size: 400%;
      background-position: center;
      animation: gradient 10s infinite linear;
      opacity:0;
    }
    
    .cards_section .expanded {
      padding: 1rem !important;
      background-size: 200%;
      opacity:1;
    }
    
    .cards_section #pay img {
      max-width: 30vmin;
      position: fixed;
      z-index:-1;
      animation: payImage 100s infinite linear;
      transition:scale 0.35s ease-in-out;
    }
    
    .cards_section #pay img:nth-child(2) {
      animation-direction:reverse;
    }
    
    .cards_section #pay img:hover {
      scale:1.1;
    }
    
    .cards_section #phone {
      width: 30vmin;
      bottom: 3vmin;
      rotate: -10deg;
      animation:none !important;
    }
    
    .cards_section #coinTeal1 {
      width: 11vmin;
      rotate: -51deg;
      right: 17vw;
      top: 30vh;
    }
    .cards_section #coinTeal2 {
        width: 15vmin;
        rotate: -1deg;
        left: 19vw;
        bottom: 18vh;
    }
    }
    
    .cards_section #star1 {
      left: 10vw;
      width: 3vmin;
    }
    
    .cards_section #coinPurple1 {
      width: 16vmin;
      rotate: -64deg;
      right: 5vw;
      bottom: 30vh;
    }
    
    .cards_section #coinPurple2 {
      width: 19vmin;
        rotate: 6deg;
        left: 8vw;
        top: 26vh;
    }
    
    .cards_section .voucher {
      background-color: black;
        padding: 0px 6px;
        border-radius: 4px;
        font-weight: 700;
        color: white;
        cursor: pointer;
    }
    
    
    /*-------------------- MOBILE --------------------------*/
    
    @media only screen and (max-width: 680px){
      .cards_section h1 {
      font-size: 20vmin;
      letter-spacing: -0.07em;
      line-height: 0.8;
      font-weight: 400;
      }
    
      .cards_section h2 {
        font-size:9vmin;    
      }
    
      .cards_section h3 {
        font-size:6vmin;
      }
      
      .cards_section :is(#intro) h1 {
      margin-top: 10vh;
      }
      
      .cards_section .introImage {
        right:6vw;
      }
      
      .cards_section .subHeadline {
            font-size:4vmin;
      }
      
      .cards_section .location {
        font-size:4vmin;
      }
      
      .cards_section #intro .subHeadline {
            width: 80%;
        margin: 144px 0;
      }
      
      .cards_section .merchant {
        flex-direction:column;
      }
      
      .cards_section .two {
        flex-direction:column-reverse;
      }
      
      .cards_section .section {
        width:100%;   
      }
      
      .cards_section .image {
        height:50vh;
      }
      
      .cards_section .one .image {
        background-size:110%;
      }
      
      .cards_section #intro h2 {
        margin-bottom:10vh;
      }
    }
    .row {
      position: relative;
    }
    .about_objects {
      float: left;
      width: 50%;
    }
    .about_text {
      color: #fff;
      display: flex;
      font-size: 1.4em;
      line-height: 1.5;
      width: 50%;
      float: left;
    }
   .about svg {
      font: 10.5em 'Montserrat';
      height: 150px;
  }
  
  .text-copy {
      fill: none;
      stroke: white;
      stroke-dasharray: 6% 29%;
      stroke-width: 5px;
      stroke-dashoffset: 0%;
      animation: stroke-offset 5.5s infinite linear;
  }
  
  .text-copy:nth-child(1){
    stroke: #ffffff;
    animation-delay: -1;
  }
  
  .text-copy:nth-child(2){
    stroke: #eeeeee;
    animation-delay: -2s;
  }
  
  .text-copy:nth-child(3){
    stroke: silver;
    animation-delay: -3s;
  }
  
  .text-copy:nth-child(4){
    stroke: #fff;
    animation-delay: -4s;
  }
  
  .text-copy:nth-child(5){
    stroke: #eee;
    animation-delay: -5s;
  }
  
  @keyframes stroke-offset{
    100% {stroke-dashoffset: -35%;}
  }
  @keyframes cresent {
    0% {
      transform: translate(-30px, 30px) scale(0.9);
      box-shadow: none;
    }
    50% {
      transform: translate(0px, 0px) scale(1.02);
      box-shadow: 0 0 10px #f9f3f2, 0 0 80px 8px #C7938B;
      background-color: #efdbd8;
    }
    100% {
      transform: translate(30px, -30px) scale(0.9);
      box-shadow: none;
    }
  }
  .moon {
    background-image: linear-gradient(30deg, #13223f, #0e1a30);
    width: 256px;
    height: 256px;
    border-radius: 50%;
    margin: 0 auto;
  }
  .moon::before {
    content: "";
    background-color: #C7938B;
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    z-index: -1;
    animation: 3.2s cresent linear infinite alternate;
  }
  
  @media (max-width: 768px) {
    .moon {
      width: 160px;
      height: 160px;
    }
  }
    .cards_section .one .image {
      background-size:110%;
    }
    
    .cards_section #intro h2 {
      margin-bottom:10vh;
    }
  }
  .row {
    position: relative;
    float: left;
    display: flex;
  }
  .about_objects {
    
  }
  .about_text {
    color: #fff;
    display: flex;
    font-size: 1.4em;
    line-height: 1.5;
    width: 50%;
  }
 .about svg {

    font: 10.5em 'Montserrat';

    width: 500px;
    height: 100px;
    font-size: 15em;
}


.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #ffffff;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #eeeeee;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: silver;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #fff;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #eee;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}
@keyframes cresent {
  0% {
    transform: translate(-30px, 30px) scale(0.9);
    box-shadow: none;
  }
  50% {
    transform: translate(0px, 0px) scale(1.02);
    box-shadow: 0 0 10px #f9f3f2, 0 0 80px 8px #C7938B;
    background-color: #efdbd8;
  }
  100% {
    transform: translate(30px, -30px) scale(0.9);
    box-shadow: none;
  }
}
.moon {
  background-image: linear-gradient(30deg, #13223f, #0e1a30);
  width: 256px;
  height: 256px;
  border-radius: 50%;
  position: relative;
}
.moon::before {
  content: "";
  background-color: #C7938B;
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  z-index: -1;
  animation: 3.2s cresent linear infinite alternate;
}

@media (max-width: 768px) {
  .moon {
    width: 160px;
    height: 160px;
  }
}
.home-mission_wrapper {
  display: flex;
}
.home-mission_text-wrapper {
  max-width: 56rem;
  margin-right: 10em;
}
.styled-subheading-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.mission-heading {
  max-width: 18em;
  margin-top: 1em;
  padding-right: 50px;
  padding-left: 0px;
  color: #eaeaea;
  font-size: 2.5em;
  line-height: 1.2;
}
.mission-section-line {
  max-width: 10.42em;
  margin-top: 2.5em;
  color: #fff;
}
.styled-subheading {
  margin-top: 0px;
  font-family: 'Gt america extended', sans-serif;
  font-size: 0.8em;
  font-weight: 700;
  letter-spacing: 0.78em;
  color: #fff;
  text-transform: uppercase;
}
.styled-subheading-circle {
  width: 0.52em;
  height: 0.52em;
  margin-right: 0.73em;
  border-radius: 50%;
  background-color: #fff;
}
.about-service_text {
  margin-top: 2em;
  padding-right: 50px;
  font-family: Plantinmtprorg, sans-serif;
  font-size: 1em;
  font-weight: 400;
}
.home-mission-right-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.top-circle-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.circle {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 12em;
  height: 12em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  
  background-color: transparent;
border: 5px solid #fff;
  box-shadow: 0 0 1.2em 0.52em rgba(159, 158, 158, 0.6);
  color: #fff;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  text-align: center;
  text-transform: capitalize;
  transition: 0.4s ease-in-out;
}
.circle:hover {
  transform: scale(1.1) !important;
  background-color: #fff;
  color: #000;
}
.circle._1 {
  width: 4.17em;
  height: 4.17em;
  margin-right: 3.23em;
}
.circle._2 {
  text-align: center;
}
.center-circle-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1em;
}
.circle._3 {
  margin-right: 2em;
  text-align: center;
}
.bottom-circle-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1em;
}
.circle._6 {
  width: 1.15em;
  height: 1.15em;
}
.circle._7 {
  width: 10.1em;
  height: 10.1em;
  margin-right: 2em;
  border-style: solid;
  border-width: 0.4em;
  border-color: #eee;
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-shadow: 0 0 20px 4px #fff;
  text-align: center;
}
#ideal-orbit-size ~ .universe {
  --planet-size-factor: 0.01;
  --sun-size-factor: 0.001;
}
@media (max-width: 649px) {
  #ideal-orbit-size:checked ~ .universe {
    --planet-size-factor: 0.075;
    --sun-size-factor: 0.0175;
  }
}
@media (min-width: 650px) {
  #ideal-orbit-size:checked ~ .universe {
    --planet-size-factor: 0.15;
    --sun-size-factor: 0.025;
  }
}
#real-time:checked ~ .universe {
  --speed-of-animation: 1;
}
#one-year-per-minute:checked ~ .universe {
  --speed-of-animation: 518400;
}
#one-year-per-second:checked ~ .universe {
  --speed-of-animation: 4001000;
}
#topview ~ .universe {
  --topview: -65deg;
  --angle-sun-glow: 65deg;
}
#topview:checked ~ .universe {
  --topview: 0deg;
  --angle-sun-glow: 0deg;
}
#isometric ~ .universe {
  --perspective: 750px;
}
#isometric:checked ~ .universe {
  --perspective: 10000px;
}
.hide {
  display: none;
}
.universe {
  --orbit-size-factor: 1000000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(#020311 0%, #000 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  perspective: var(--perspective);
  transition: perspective 2s;
}
.solarsystem {
  position: relative;
  width: 90%;
  max-width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateZ(90deg) rotateY(var(--topview));
  transform-style: preserve-3d;
  transition: transform 2s;
}
.solarsystem::after {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
}
.sun {
  position: absolute;
  width: calc(1391px * var(--sun-size-factor));
  height: calc(1391px * var(--sun-size-factor));
  background-color: #ffe493;
  border-radius: 50%;
  transform-style: preserve-3d;
  transition: width 2s, height 2s;
}
.sun::before {
  display: block;
  content: "";
  height: 600%;
  width: 600%;
  background: radial-gradient(rgba(255,228,147,0.4), rgba(255,228,147,0.1) 40%, rgba(255,255,255,0) 70%);
  border-radius: 50%;
  transform-origin: center center;
  transform: translateY(-40%) translateX(-40%) rotateY(var(--angle-sun-glow));
  transition: transform 2s;
}
#ideal-orbit-size:checked ~ .universe .sun {
  transition-delay: 0.6s;
}
.sun-orbit {
  transform-style: preserve-3d;
  border-radius: 50%;
  transition: width 2s, height 2s;
}
.mercury-orbit {
  position: absolute;
  width: 1.29%;
  height: 1.29%;
  transform: rotateZ(-224deg);
  transition-delay: 0s;
  z-index: 9;
}
#ideal-orbit-size:checked ~ .universe .mercury-orbit {
  width: 12.5%;
  height: 12.5%;
  transition-delay: 0.6s;
}
.venus-orbit {
  position: absolute;
  width: 2.4%;
  height: 2.4%;
  transform: rotateZ(-144deg);
  transition-delay: 0.1s;
  z-index: 8;
}
#ideal-orbit-size:checked ~ .universe .venus-orbit {
  width: 25%;
  height: 25%;
  transition-delay: 0.5s;
}
.earth-orbit {
  position: absolute;
  width: 3.33%;
  height: 3.33%;
  transform: rotateZ(-101deg);
  transition-delay: 0.2s;
  z-index: 7;
}
#ideal-orbit-size:checked ~ .universe .earth-orbit {
  width: 37.5%;
  height: 37.5%;
  transition-delay: 0.4s;
}
.mars-orbit {
  position: absolute;
  width: 5.06%;
  height: 5.06%;
  transform: rotateZ(-39deg);
  transition-delay: 0.3s;
  z-index: 6;
}
#ideal-orbit-size:checked ~ .universe .mars-orbit {
  width: 50%;
  height: 50%;
  transition-delay: 0.3s;
}
.jupiter-orbit {
  position: absolute;
  width: 17.25%;
  height: 17.25%;
  transform: rotateZ(-245deg);
  transition-delay: 0.4s;
  z-index: 5;
}
#ideal-orbit-size:checked ~ .universe .jupiter-orbit {
  width: 62.5%;
  height: 62.5%;
  transition-delay: 0.2s;
}
.saturn-orbit {
  position: absolute;
  width: 31.65%;
  height: 31.65%;
  transform: rotateZ(-282deg);
  transition-delay: 0.5s;
  z-index: 4;
}
#ideal-orbit-size:checked ~ .universe .saturn-orbit {
  width: 75%;
  height: 75%;
  transition-delay: 0.1s;
}
.uranus-orbit {
  position: absolute;
  width: 63.96%;
  height: 63.96%;
  transform: rotateZ(-29deg);
  transition-delay: 0.6s;
  z-index: 3;
}
#ideal-orbit-size:checked ~ .universe .uranus-orbit {
  width: 87.5%;
  height: 87.5%;
  transition-delay: 0s;
}
.neptun-orbit {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotateZ(-347deg);
  z-index: 2;
}
.orbit__visual {
  position: absolute;
  border: 1px solid rgba(255,255,255,0.13);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: translate3d(-1px, -1px, 0);
  transform-style: preserve-3d;
}
.orbit__shape {
  position: absolute;
  width: calc(100% + 1px);
  height: calc(100% + 1px);
  -webkit-animation: orbit infinite;
          animation: orbit infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: calc((var(--seconds-left) * -1) / var(--speed-of-animation));
          animation-delay: calc((var(--seconds-left) * -1) / var(--speed-of-animation));
  transform-style: preserve-3d;
}
.orbit__shape--mercury {
  -webkit-animation-duration: calc(7603200s / var(--speed-of-animation));
          animation-duration: calc(7603200s / var(--speed-of-animation));
}
.orbit__shape--venus {
  -webkit-animation-duration: calc(19414166s / var(--speed-of-animation));
          animation-duration: calc(19414166s / var(--speed-of-animation));
}
.orbit__shape--earth {
  -webkit-animation-duration: calc(31553280s / var(--speed-of-animation));
          animation-duration: calc(31553280s / var(--speed-of-animation));
}
.orbit__shape--mars {
  -webkit-animation-duration: calc(59356800s / var(--speed-of-animation));
          animation-duration: calc(59356800s / var(--speed-of-animation));
}
.orbit__shape--jupiter {
  -webkit-animation-duration: calc(374025600s / var(--speed-of-animation));
          animation-duration: calc(374025600s / var(--speed-of-animation));
}
.orbit__shape--saturn {
  -webkit-animation-duration: calc(928886400s / var(--speed-of-animation));
          animation-duration: calc(928886400s / var(--speed-of-animation));
}
.orbit__shape--uranus {
  -webkit-animation-duration: calc(2649369600s / var(--speed-of-animation));
          animation-duration: calc(2649369600s / var(--speed-of-animation));
}
.orbit__shape--neptun {
  -webkit-animation-duration: calc(5196787200s / var(--speed-of-animation));
          animation-duration: calc(5196787200s / var(--speed-of-animation));
}
.planet {
  position: relative;
  border-radius: 50%;
  min-width: 1px;
  min-height: 1px;
  margin: 0 auto;
  left: 0;
  right: 0;
  transform-style: preserve-3d;
  transition: width 2s, height 2s, top 2s;
}
.planet::before {
  position: relative;
  display: none;
  content: "";
  height: 500%;
  transform: translateY(-100%);
  width: 100%;
  background: linear-gradient(to top, rgba(1,2,13,0.8), rgba(1,2,13,0) 100%);
  -webkit-clip-path: polygon(50% 0%, 100% 100%, 100% 100%, 0% 100%);
          clip-path: polygon(50% 0%, 100% 100%, 100% 100%, 0% 100%);
}
.planet__structure {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  border-radius: 50%;
  transform-style: preserve-3d;
}
.planet__structure--1 {
  transform: rotateZ(30deg);
}
.planet__structure--2 {
  transform: rotateZ(-30deg);
}
.planet__structure--3 {
  transform: rotateX(30deg) rotateY(90deg);
}
.planet__structure--4 {
  transform: rotateX(-30deg) rotateY(90deg);
}
.planet__structure--5 {
  transform: rotateZ(90deg) rotateY(30deg);
}
.planet__structure--6 {
  transform: rotateZ(90deg) rotateY(-30deg);
}
.planet__structure::before {
  position: absolute;
  top: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  transform: rotateX(45deg);
  background-color: inherit;
  border-radius: 50%;
}
.planet__structure::after {
  position: absolute;
  top: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  transform: rotateX(-45deg);
  background-color: inherit;
  border-radius: 50%;
}
.mercury {
  width: calc(4.87px * var(--planet-size-factor));
  height: calc(4.87px * var(--planet-size-factor));
  background-color: #68696d;
  top: calc(-2.435px * var(--planet-size-factor));
}
.venus {
  width: calc(12.1px * var(--planet-size-factor));
  height: calc(12.1px * var(--planet-size-factor));
  background-color: #d3a567;
  top: calc(-6.05px * var(--planet-size-factor));
}
.earth {
  width: calc(12.7px * var(--planet-size-factor));
  height: calc(12.7px * var(--planet-size-factor));
  background-color: #00f;
  top: calc(-6.35px * var(--planet-size-factor));
}
.mars {
  width: calc(6.7px * var(--planet-size-factor));
  height: calc(6.7px * var(--planet-size-factor));
  background-color: #c1440e;
  top: calc(-3.45px * var(--planet-size-factor));
}
.jupiter {
  width: calc(139.822px * var(--planet-size-factor));
  height: calc(139.822px * var(--planet-size-factor));
  background-color: #d8ca9d;
  top: calc(-69.911px * var(--planet-size-factor));
}
.saturn {
  width: calc(116.464px * var(--planet-size-factor));
  height: calc(116.464px * var(--planet-size-factor));
  background-color: #d2c0a5;
  top: calc(-58.232px * var(--planet-size-factor));
}
.uranus {
  width: calc(50.724px * var(--planet-size-factor));
  height: calc(50.724px * var(--planet-size-factor));
  background-color: #d1e7e7;
  top: calc(-25.362px * var(--planet-size-factor));
}
.neptun {
  width: calc(49.244px * var(--planet-size-factor));
  height: calc(49.244px * var(--planet-size-factor));
  background-color: #3f54ba;
  top: calc(-24.622px * var(--planet-size-factor));
}
.planet-orbit {
  -webkit-animation: orbit infinite;
          animation: orbit infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  transform-style: preserve-3d;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
}
.planet-orbit--saturn {
  -webkit-animation-duration: calc(933465600s / var(--speed-of-animation));
          animation-duration: calc(933465600s / var(--speed-of-animation));
  -webkit-animation-delay: calc(((var(--seconds-left) + 433366400) * -1) / var(--speed-of-animation));
          animation-delay: calc(((var(--seconds-left) + 433366400) * -1) / var(--speed-of-animation));
}
.rings-of-saturn {
  transform: rotateX(0deg) rotateY(27deg);
  position: absolute;
  width: calc(280px * var(--planet-size-factor) + 3px);
  height: calc(280px * var(--planet-size-factor) + 3px);
  background: radial-gradient(rgba(0,0,0,0), rgba(0,0,0,0) 45%, #c1b199 48%, #c1b199 65%, rgba(0,0,0,0) 66%, #c1b199 68%, #c1b199 100%);
  top: calc(-140px * var(--planet-size-factor) - 1.5px);
  border-radius: 50%;
  margin: 0 auto;
  left: 0;
  right: 0;
  transition: width 2s, height 2s, top 2s;
}
.ascending-node {
  position: relative;
  height: 100%;
  transform-style: preserve-3d;
/*&--mercury
    transform rotateZ(48.33deg)
  &--venus
    transform rotateZ(76.68deg)
  &--earth
    transform rotateZ(-11.26deg)
  &--mars
    transform rotateZ(49.58deg)
  &--jupiter
    transform rotateZ(100.55deg)
  &--saturn
    transform rotateZ(113.72deg)
  &--uranus
    transform rotateZ(74.23deg)
  &--neptun
    transform rotateZ(131.72deg)*/
}
.inclination {
  position: relative;
  height: 100%;
  transform-style: preserve-3d;
/*&--mercury
    transform rotateX(-7deg)
  &--venus
    transform rotateX(-3.5deg)
  &--earth
    transform rotateX(0deg)
  &--mars
    transform rotateX(-1.9deg)
  &--jupiter
    transform rotateX(-1.3deg)
  &--saturn
    transform rotateX(-2.5deg)
  &--uranus
    transform rotateX(-0.8deg)
  &--neptun
    transform rotateX(-1.8deg)*/
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.content {
  color: #fff;
  width: 100%;
  height: 100%;
  font-size: 16px;
  position: absolute;
  top: 50%;
  z-index: 10;
  font-family: Open Sans, sans-serif;
  text-align: center;
}
.content h1 {
  font-weight: 300;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 15px;
}
.controls {
  justify-content: center;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 13px;
  max-width: 600px;
  width: 100%;
}
@media (max-width: 649px) {
  .controls {
    position: absolute;
    bottom: 0;
  }
}
@media (min-width: 650px) {
  .controls {
    display: inline-block;
  }
}
.controls span {
  width: 120px;
}
.controls__group {
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,0.7);
  display: flex;
  flex: 1;
  margin-bottom: 15px;
}
.controls__group > * {
  padding: 10px;
  display: block;
}
.button {
  flex: 1;
  transition: background-color 0.4s;
  text-transform: uppercase;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.button:hover {
  background-color: rgba(255,255,255,0.2);
}
.button:first-of-type {
  border-radius: 9px 0 0 9px;
}
.button:last-child {
  border-radius: 0 9px 9px 0;
}
#ideal-orbit-size:checked ~ .content .button.ideal-size,
#correct-orbit-size:checked ~ .content .button.correct-size,
#real-time:checked ~ .content .button.real-time,
#one-year-per-minute:checked ~ .content .button.one-year-per-minute,
#one-year-per-second:checked ~ .content .button.one-year-per-second,
#topview:checked ~ .content .button.topview,
#isometric:checked ~ .content .button.isometric,
#threedee:checked ~ .content .button.threedee {
  background-color: rgba(255,255,255,0.3);
}
@-webkit-keyframes orbit {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes orbit {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
