@font-face {
  font-family: nerd-regular;
  src: url(../../fonts/3270NerdFont-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #1f1f1f;
  font-family: 'nerd-regular';
  color: #fff;
  padding: 0;
  margin: 0;
  display: flex;
  
}
.hero {
  width: 100vh;
  height: 100vh;
  position: static;
  justify-content: center;
  align-items: center;
  margin-bottom: 40vh;
}
main {
  width: 100%;
  
}
.header {
  position: fixed;
  width: 95%;
  height: 75px;
  display: flex;
  margin: 10px;
  top: 0;
  z-index: 9999999999;
}
.header .logo {
  width: 70px;
  height: 70px;
  border: 1px solid #fff;

  border-radius: 50%;
}
.header .logo img {
  height: 100%;
  width: 100%;
}
.navbar-nav {
  display: flex;
}
.navbar {
  background-color: rgba(255,255,255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 5vh;
  margin:1vh;
  padding: 0.5vh;
  opacity: 0;
  animation: 2s forwards appear;
}
.navbar .nav-item {
  text-decoration: none;
  color: #fff;
  border-radius: 5vh;
  float: left;
  list-style: none;
  opacity: 0;
  animation: 1s forwards nav-item;
  animation-delay: 0.5s;
}
.navbar .nav-link:hover .nav-item{
  background-color: #ddd;
}
.contact-nav {
  position: relative;
  right: 0;
  background-color: #1f1f1f;
  border: 1px solid #fff;
  border-radius: 5vh;
  margin: 1vh;
  display: flex;
  padding: 1vh 1vh;
  margin-left: auto;
  margin-right: 20px;
}
.contact-btn button {
  width: 100%;
  height: 100%;
  border-radius: 5vh;
  padding: 10px;
  color: black;
  font-weight: bold;
  font-weight: 'nerd-regular';
}
.status-active {
  width: 8px;
  height: 8px;
  border: 7px solid lightgreen;
  border-radius: 50%;
  margin: 1.2vh;
  opacity: 0;
  animation: 1s forwards appear;
  animation-delay: 4s;
}
.contact-content {
  margin: 1.5vh;
  font-size: 0;
  opacity: 0;
  animation: 2s forwards font;
  animation-delay: 4s;
}
/* Hero Section */
.shadow{
  position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
  width: 250px;
  height: 250px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  padding: 1.5vh;
}


.shadow:after{
  content:'';
  position: absolute;
  top: -4px;
  left: -4px;
  background: linear-gradient(45deg,#FEAC5E, #004FF9, #2ECC40,#FEAC5E);
  height: calc(100% + 4px);
  width: calc(100% + 4px);
  filter: blur(10px);
  
  z-index: -1;
  animation: animate 20s linear infinite;
  border-radius: 50%;
  background-size: 200%;
}

.shadow:after{
  border-radius: 50%;
  
}

@keyframes animate{
  0%
  {
    background-position: 0 0;
  }
  50%
  {
    background-position: 200% 0;
  }
  100%
  {
    background-position: 0 0;
  }
  
}
.lift {
  width: 100%;
  height:100%;
  background-color: rgba(255, 255, 255, 0.4);
  
  border-radius: 50%;
}
.social {
  position: fixed;
  bottom: 2vh;
  left: 3vh;
  z-index: 100000;
}
.social-btn {
  text-decoration: none;
  color: #fff;
  border: 1px solid rgba(255,255,255, 0.2);
  border-radius: 2vh;
  list-style: none;
  float: left;
  padding: 1.5vh;
  margin: 1vh;
}
.social-btn:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(10px);
}
.social-btn i {
  font-size: 3vh; 
}

:root {
  --text: hsl(0, 0%, 99%);
  --textDim: hsl(0, 0%, 60%);
  --background: hsl(0, 0%, 7%);
  --primary: hsl(155, 100%, 65%);
  --primaryBg: hsla(155, 100%, 65%, 1%);
  --primaryHi: hsla(155, 100%, 75%, 25%);
  --primaryFg: hsl(155, 100%, 85%);
  --primaryBg2: hsla(209, 100%, 65%, 0.01);
  --primaryHi2: hsla(214, 100%, 75%, 0.25);
  --primaryBg3: hsla(34, 100%, 65%, 0.01);
  --primaryHi3: hsla(46, 100%, 75%, 0.25);
  --primaryFg3: hsl(56, 100%, 85%);
  --primaryFg2: hsl(216, 100%, 85%);
  --secondary: hsl(156, 51%, 14%);
  --secondaryFg: hsl(156, 51%, 75%);
  --secondaryBg: hsla(156, 51%, 14%, 5%);
  --secondaryHi: hsla(156, 51%, 30%, 50%);
  --accent: hsl(155, 100%, 94%);
  --accentBg: hsla(155, 100%, 94%, 1%);
  --accentHi: hsla(155, 100%, 100%, 25%);

	--red: #da2c4d;
	--yellow: #f8ab37;
	--green: #2ecc71;
	--white: #ffffff;
	--grey-light: #f2f7f9;
	--grey: #ecedf3;
	--black: #080808;
	--black-blue: #1f2029;
	--black-blue-light: #353746;
	--black-blue-light-2: #404255;
	--black-blue-light-3: #4b4d64;
	--black-light: #424455;







































  
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  color: var(--textDim);
  width: 100%;
  box-sizing: border-box;
  z-index: 9999;
}

.menu:hover {
  color: var(--text);
  cursor: pointer;
}

.sitename {
  font-weight: bold;
}

.grid {
  position: absolute;
  height: 100%;
  weight: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  z-index: -1;
}

.grid-svg {
  height: 80%;
  width: 80%;
  position: relative;
  z-index: 1;
}

.blur {
  height: 12rem;
  width: 12rem;
  background-color: var(--primary);
  filter: blur(100px);
  border-radius: 100px;
  z-index: 0;
  position: absolute;
}

.title {
  font-size: 10rem;
  font-weight: 700;
  letter-spacing: -0.8rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-self: center;
  height: 100%;
  z-index: 1000;
}

.title > p {
  margin: 0;
  line-height: 10rem;
  width: auto;
}

.title > p:nth-child(1){
  align-self: flex-start;
}

.title > p:nth-child(2){
  color: var(--primary);
  align-self: flex-end;
}

.title > p:nth-child(3){
  align-self: flex-end;
}

.material-icons {
  display: none;
  fill: var(--text);
}



.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  height: 50px;
  width: 160px;
  z-index: 9999;
}

.hero button {
  height: 50px;
  width: 160px;
  clip-path: path("M 0 25 C 0 -5, -5 0, 80 0 S 160 -5, 160 25, 165 50 80 50, 0 55, 0 25");
  border: none;
  border-radius: 13px;
  background-color: var(--primaryBg);
  box-shadow: 0px -3px 15px 0px var(--primaryHi) inset;
  color: var(--primaryFg);
  font-family: "nerd-regular";
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: translateY(0px);
  transition: all 0.2s ease;
}

.hero span {
  width: 100px;
  height: 60px;
  background-color: var(--primaryHi);
  border-radius: 100%;
  filter: blur(20px);
  position: absolute;
  bottom: -50%;
  transition: all 0.2s ease;
}

.button:hover > span {
  opacity: 60%;
}

.button:hover > button {
  transform: translateY(5px);
}

.button.first {
  top: 15%;
  right: 20%;
}

.button.sec {
  bottom: 20%;
  right: 11%;
}
.button.third {
  bottom: 30%;
  left: 10%;
  background-color: var(--accentBg2);
}
.button.fourth{
  top: 25%;
  left: 15%;
  background-color: var(--primaryBg2);
  color: var(--primaryFg2);
}
.button.fourth > button {
  background-color: var(--primaryBg2);
  box-shadow: 0px -3px 15px 0px var(--primaryHi2) inset;
    color: var(--primaryFg2);
}
.button.fourth > span {
  background-color: var(--primaryHi2);
}

.button.first{
  background-color: var(--primaryBg3);
  color: var(--primaryFg3);
}
.button.first > button {
  background-color: var(--primaryBg3);
  box-shadow: 0px -3px 15px 0px var(--primaryHi3) inset;
    color: var(--primaryFg3);
}
.button.first > span {
  background-color:  var(--primaryHi3);
}
.button.fifth{
  top: 40%;
  right: 10%;
}
.button.sec > button {
  background-color: var(--accentBg);
  box-shadow: 0px -3px 15px 0px var(--accentHi) inset;
  color: var(--accentFg);
}

.button.sec > span {
  background-color: var(--accentHi);
}

.button.third {
  bottom: 25%;
  left: 15%;
}

.button.third > button {
  background-color: var(--secondaryBg);
  box-shadow: 0px -3px 15px 0px var(--secondary) inset;
  color: var(--secondaryFg);
}

.button.third > span {
  background-color: var(--secondaryHi);
}


.top-right {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  opacity: 50%;
}

.bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 50%;
}




@media screen and (max-width: 1000px) {
  .title {
    font-size: 4rem;
    
  }
  
  .title > p {
    line-height: 5rem;
    letter-spacing: -0.3rem;
  }
  
  nav > :not(.sitename, .material-icons) {
    display: none;
  }
  
  nav {
    justify-content: space-between;
  }
  
  .material-icons {
    display: flex;
    align-items: center;
  }
  
}

/* Variables */
/* Reset */
.main, .main *, .main *::after, .main *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transform-style: preserve-3d;
}

/* Generic */

@media (max-width: 1000px) {
  .main {
    transform: scale(0.75);
  }
}
@media (max-width: 800px) {
  .main {
    transform: scale(0.5);
  }
}
@media (max-width: 700px) {
  .main {
    transform: scale(0.4);
  }
}
@media (max-width: 500px) {
  .main {
    transform: scale(0.3);
  }
}
.main{
  
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.face {
  position: absolute;
}

/*Base*/
/*=================================*/
/*=================================*/
.screen {
  width: 403.0303030303px;
  height: 340px;
  transform: translateZ(100px) translateY(-300px) translateZ(50px) rotateX(270deg);
  background-color: #A9DFFD;
  border-radius: 2vh;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8), 0 0 10px rgba(0, 0, 0, 0.7), 0 0 15px rgba(0, 0, 0, 0.6), 0 0 20px rgba(169, 223, 253, 0.5), 0 0 40px rgba(169, 223, 253, 0.4), 0 0 60px rgba(169, 223, 253, 0.3);
  animation: screen 1s ease-in alternate infinite;
}

.keyboard {
  width: 500px;
  height: 160px;
  transform: perspective(10000px) rotateX(50deg) rotateZ(0deg);
}
.keyboard__front {
  width: 500px;
  height: 25px;
  transform: rotateX(-90deg) translateZ(80px);
  background-color: #9C9C9C;
}
.keyboard__back {
  width: 500px;
  height: 25px;
  transform: rotateX(90deg) translateZ(80px);
  background-color: #FFFFFB;
}
.keyboard__top {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 500px;
  height: 160px;
  transform: rotateY(0deg) translateZ(12.5px);
  background-image: linear-gradient(to bottom, #dbf2fe, #343232);
}
.keyboard__bottom {
  width: 500px;
  height: 160px;
  transform: rotateY(180deg) translateZ(12.5px);
  background-color: #EAE7E5;
  box-shadow: -20px 40px 0 #0d0c0c, 0px 40px 0 #0d0c0c, 5px 0px 0 #0d0c0c, 5px 40px 0 #0d0c0c;
}
.keyboard__right {
  width: 25px;
  height: 160px;
  transform: rotateY(90deg) translateZ(250px);
  background-color: #FFFFFB;
}
.keyboard__left {
  width: 25px;
  height: 160px;
  transform: rotateY(90deg) translateZ(-250px);
  background-color: #EAE7E5;
}

/*=================================*/
/*=================================*/
.keys {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  transform: translateZ(7.5px);
  padding: 0 2px;
}

.key {
  width: 30px;
  height: 27px;
  transition: 0.05s ease;
}
.key--w2 {
  width: 60px;
}
.key--w3 {
  width: 90px;
}
.key--w6 {
  width: 195px;
}
.key__front {
  width: 30px;
  height: 15px;
  transform: rotateX(-90deg) translateZ(13.5px);
  background-color: #838383;
}
.key__front--w2 {
  width: 60px;
}
.key__front--w3 {
  width: 90px;
}
.key__front--w6 {
  width: 195px;
}
.key__back {
  width: 30px;
  height: 15px;
  transform: rotateX(90deg) translateZ(13.5px);
  background-color: #FFFFFB;
}
.key__back--w2 {
  width: 60px;
}
.key__back--w3 {
  width: 90px;
}
.key__back--w6 {
  width: 195px;
}
.key__top {
  width: 30px;
  height: 27px;
  transform: rotateY(0deg) translateZ(7.5px);
  background-color: #FFFFFB;
  background-image: linear-gradient(to bottom, #f4fbff, #FFFFFB);
}
.key__top--w2 {
  width: 60px;
}
.key__top--w3 {
  width: 90px;
}
.key__top--w6 {
  width: 195px;
}
.key__bottom {
  width: 30px;
  height: 27px;
  transform: rotateY(180deg) translateZ(7.5px);
  background-color: #838383;
}
.key__bottom--w2 {
  width: 60px;
}
.key__bottom--w3 {
  width: 90px;
}
.key__bottom--w6 {
  width: 195px;
}
.key__right {
  width: 15px;
  height: 27px;
  transform: rotateY(90deg) translateZ(15px);
  background-color: #838383;
}
.key__right--w2 {
  transform: rotateY(90deg) translateZ(30px);
}
.key__right--w3 {
  transform: rotateY(90deg) translateZ(45px);
}
.key__right--w6 {
  transform: rotateY(90deg) translateZ(97.5px);
}
.key__left {
  width: 15px;
  height: 27px;
  transform: rotateY(90deg) translateZ(-15px);
  background-image: linear-gradient(to bottom, #c5c5c5, #b8b8b8);
}
.key__left--w2 {
  transform: rotateY(90deg) translateZ(-30px);
}
.key__left--w3 {
  transform: rotateY(90deg) translateZ(-45px);
}
.key__left--w6 {
  transform: rotateY(90deg) translateZ(-97.5px);
}

/*=================================*/
/*=================================*/
.face--key-b1 {
  background: #A9DFFD;
}

.face--key-b2 {
  background-image: linear-gradient(to bottom, #a7dcfa, #8FD2F8);
}

.face--key-b3 {
  background-color: #426585;
}

.face--key-o1 {
  background: #FFA28E;
}

.face--key-o2 {
  background-image: linear-gradient(to bottom, #bc7377, #B46266);
}

.face--key-o3 {
  background-color: #8E3E43;
}

.key--down {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateZ(-5px);
  transition: 0.05s ease;
}
.key--down > .key__top {
  background: #ffccc1;
}

/*=================================*/
/*=================================*/
@keyframes screen {
  0%, 90%, 96% {
    background-color: #000;
  }
  93%, 100% {
    background-color: #1f1f1f;
  }

}
#term {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  border-radius: 2vh;
}
#app {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    border-radius: 2vh;
  }
  #terminal {
    width: 100%;
    
    height: 100%;
    transition: .2s;
    border-radius:2vh;
  }
  #window {
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: default;
    display: none;
  }
  .red {
    background-color: #FF4136;
  }
  .error {
    color: #FF4136;
  }
  .yellow {
    background-color: #FFDC00;
  }
  .info {
    color: #FFDC00;
  }
  .green {
    background-color: #2ECC40;
  }
  #title,
  #field {
    font-size: .75rem;
  }
  #title {
    margin-left: auto;
  }
  #field {
    height: 100%;
    padding: 2px;
    overflow: auto;
    z-index: 10;
  /* 	I'd like to get white-space: break-spaces to work
      but it won't for some reason. In the meantime,
      overflow-wrap: break-word will have to do. */
    overflow-wrap: break-word;
    border-radius: 2vh;
  }
  #field::-webkit-scrollbar {
    width: 100%;
  }
  #field.dark::-webkit-scrollbar-thumb {
    background-color: #333444;
  }
  #field.light::-webkit-scrollbar-thumb {
    background-color: #ACA9BB;
  }
  #field>div {
    min-height: 20px;
    width: 100%;
    cursor: default;
  }
  #input-container {
    display: flex;
    z-index: 10;
  }
  #query,
  #cursor {
    display: inline-block;
    z-index: 1000000;
  }
  #query {
    margin-right: 1px;
    white-space: pre-line;
  }
  #cursor {
    position: relative;
    bottom: -2px;
    left: 2px;
    width: .5rem;
    height: 3px;
  }
  @keyframes blink-dark {
    0%, 100% {
      background-color: #F4F4F4;
    }
    50% {
      background-color: transparent;
    }
  }
  @keyframes blink-light {
    0%, 100% {
      background-color: #474554;
    }
    50% {
      background-color: transparent;
    }
  }
  @media only screen and (max-width: 600px), (max-height: 600px) {
    #terminal {
      height: 100vh;
      width: 100vw;
      min-width: 100vw;
    }
    #field {
      height: 100%;
    }
    #window {
      display: none;
    }

  }

  @import url("https://fonts.googleapis.com/css?family=Oswald");
  .grid-menu {
    list-style: none;
    margin-left: -40px;
  }
  
  .gc {
    box-sizing: border-box;
    display: inline-block;
    margin-right: -0.25em;
    min-height: 1px;
    padding-left: 40px;
    vertical-align: top;
  }
  
  .gc--1-of-3 {
    width: 32.33333%;
  }
  
  .gc--2-of-3 {
    width: 66.66666%;
  }
  
  .naccs {
    position: relative;
    width: 900px;
    max-width: 900px;
    margin: 200px auto 0;
  }
  
  .naccs .nav-menu div {
    padding: 15px 20px 15px 40px;
    margin-bottom: 10px;
    color: #999;
    
    border-radius: 2vh;
    cursor: pointer;
    position: relative;
    vertical-align: middle;
    font-weight: 700;
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  
  .naccs .nav-menu div:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .naccs .nav-menu div span.light {

  clip-path: path("M 0 25 C 0 -5, -5 0, 80 0 S 160 -5, 160 25, 165 50 80 50, 0 55, 0 25");
  border: none;
  border-radius: 13px;
  background-color: var(--primaryBg);
  box-shadow: 0px -3px 15px 0px var(--primaryHi) inset;
  color: var(--primaryFg);
  font-family: "Manrope";
  font-size: 1rem;
  position: absolute;
  transition: all 0.2s ease;
  }
.naccs .nav-menu div span.light span {
    width: 100px;
    height: 60px;
    background-color: var(--primaryHi);
    border-radius: 100%;
    filter: blur(20px);
    position: absolute;
    bottom: -50%;
    transition: all 0.2s ease;
  }
  
  .naccs .nav-menu div.active span.light {
    border: 2px solid rgba(255, 2855, 255, 0.4);
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 2vh;
    top: 0;
    box-shadow: 0px -3px 15px 0px var(--primaryHi) inset;
    background-color: var(--primaryBg);
    clip-path: path("M 0 25 C 0 -5, -5 0, 80 0 S 160 -5, 160 25, 165 50 80 50, 0 55, 0 25");
    border: 0; 
    
  }
  
  .naccs .nav-menu div.active {
    color: #fff;
    padding: 15px 20px 15px 20px;
  }
  
  ul.nacc {
    position: relative;
    height: 0px;
    list-style: none;
    margin: 0;
    padding: 0;
    
  }
  
  ul.nacc li {
    opacity: 0;
    transform: translateX(50px);
    position: absolute;
    list-style: none;
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  
  ul.nacc li.active {
    transition-delay: 0.3s;
    z-index: 2;
    opacity: 1;
    transform: translateX(0px);
  }
  
  ul.nacc li p {
    margin: 0;

  }
.projects {
  margin-top: 25vh;
}
.projects-title {
  margin: 10vh 0;
  text-align: center;
}
.project-item {
  max-width: 600px;
  display: flex;
}
.project-img {
  width: 100%;
}
.project-item .project-img img {
  width: 100%;
  height: 100%;
}
.project-item .project-content{
  margin-left: 4vh;
}


.progress-wrap {
	position: fixed;
	right: 50px;
	bottom: 50px;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	border-radius: 50px;
	box-shadow: inset  0 0 0 2px rgba(255,255,255,0.2);
	z-index: 10000;
	opacity: 0;
	visibility: hidden;
	transform: translateY(15px);
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.progress-wrap.active-progress {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}
.progress-wrap::after {
	position: absolute;
	font-family: 'unicons';
	content: '\e84b';
	text-align: center;
	line-height: 46px;
	font-size: 24px;
	color: #ecedf3;
	left: 0;
	top: 0;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	z-index: 1;
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.progress-wrap:hover::after {
	opacity: 0;
}
.progress-wrap::before {
	position: absolute;
	font-family: 'unicons';
	content: '\e84b';
	text-align: center;
	line-height: 46px;
	font-size: 24px;
	opacity: 0;
	background-image: linear-gradient(298deg, #da2c4d, #f8ab37);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	left: 0;
	top: 0;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	z-index: 2;
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.progress-wrap:hover::before {
	opacity: 1;
}
.progress-wrap svg path { 
	fill: none; 
}
.progress-wrap svg.progress-circle path {
	stroke: #ecedf3;
	stroke-width: 4;
	box-sizing:border-box;
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
body.light .progress-wrap {
	box-shadow: inset  0 0 0 2px rgba(0,0,0,0.2);
}
body.light .progress-wrap::after {
	color: var(--black-blue);
}
body.light .progress-wrap svg.progress-circle path {
	stroke: var(--black-blue);
}
.switch,
.circle {
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
} 
.switch {
	width: 80px;
	height: 4px;
	border-radius: 27px;
	background-image: linear-gradient(298deg, #da2c4d, #f8ab37);
	position: fixed;
	right: 50px;
	top: 75px;
	display: block;
	margin: 0 auto;
	text-align: center;
	opacity: 1;
  z-index: 33333;
    transition: all 300ms linear;
}
.circle {
	cursor: pointer;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: -5px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: var(--black-blue-light-3);
	box-shadow: 0 4px 4px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
	animation: border-transform 10s linear infinite alternate forwards;
}
.circle:hover {
	box-shadow: 0 8px 8px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
}
.circle:before {
	position: absolute;
	font-family: 'unicons';
	content: '\eac1';
	top: 0;
	left: 0;
	z-index: 2;
	font-size: 20px;
	line-height: 40px;
	text-align: center;
	width: 100%;
	height: 40px;
	opacity: 1;
	color: #ecedf3;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}
.circle:after {
	position: absolute;
	font-family: 'unicons';
	content: '\eb8f';
	top: 0;
	left: 0;
	z-index: 2;
	font-size: 20px;
	line-height: 40px;
	text-align: center;
	width: 100%;
	height: 40px;
	color: #f8ab37;
	opacity: 0;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}
.switched .circle {
	left: 45px;
	box-shadow: 0 4px 4px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
	background: var(--black-blue);
}
.switched .circle:hover {
	box-shadow: 0 8px 8px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
}
.switched .circle:before {
	opacity: 0;
}
.switched .circle:after {
	opacity: 1;
}